*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

header{
    background: linear-gradient(to right, red, black, red, black, red, black);
    height: 10vw;
    width: 100vw;
}
ul{
    text-align: center;
}
a{
    color: white;
}
ul li{
    display: inline-block;
    color: white;
}

.logoAcMilan img{
    width: 60px;
    height: 60px;
}
section{
    left: 25vw;   
    position: sticky;
    bottom: 64vw;
    width: 77vw;
    margin-right: 0;
}
aside{
    display: inline-block;
    margin: 0px;
    padding: 10px;
    height: 100vh;
    width: 20vw;
    background: linear-gradient(to right, red, black, red, black, red, black);
}
.box-aside{
    margin-bottom: 10px;
    height: 23vh;
    width: 18vw;
    background-color: white;
    border-radius: 3vw;
}
footer{
    background: linear-gradient(to right, red, black, red, black, red, black);
    width: 100vw;
    height: 5vh;
    position: absolute;
    bottom: -23vh;
}